{{title}}
<div *ngFor='let item of videoListesi'>

    <div class="thumbnail">
     <a  routerLink='/videos/{{item.slug}}' routerLinkActive="active"><img [src]="item.imagePath" alt="{{item.name}}"></a>
        <div class="caption">
            <h3><a routerLink='/videos/{{item.slug}}' routerLinkActive="active">
                {{item.name}}</a></h3>

          <p><a routerLink='/videos/{{item.slug}}' routerLinkActive="active" class="btn btn-primary" role="button">Görüntüle</a></p>
        </div>
      </div>
</div>