.main-cpntainer{
    min-height: 800px;
    margin-bottom: 20px;
}
.img-main-carousel{
    max-height:500px;
    margin: 0 auto;
}
.carousel.control.right,.carousel.control.left{
    cursor: pointer;
}
.search-inline .navbar-left,.search-inline .navbar-right {
    float:none !important;
}