<div class="row">
  <div class="col-sm-12">
    <carousel class="text-center" *ngIf="homeImageList">
      <slide *ngFor="let image of homeImageList">
          <a class="" (click)="preventNormal($event,image)">
        <img
          class="img-main-carousel"
          [src]='image.imagePath'
          alt="first slide"
        />
    </a>
        <div class="carousel-caption d-none d-md-block">
          <h3>{{image.name}}</h3>
          <p>{{image.description}}</p>
          <p><a class="btn btn-default" href="/videos/{{image.slug}}">Görüntüle</a></p>
        </div>
      </slide>
    </carousel>
  </div>
</div>