<div class="row">
  <div class="col-sm-12">
    <carousel class="text-center" *ngIf="homeImageList">

      <slide>
        <a routerLink='/videos' routerLinkActive="active">
      <img
        class="img-main-carousel"
        [src]='anaEkranVarsaliyanFoto'
        alt="first slide"
      />
  </a>
      <div class="carousel-caption d-none d-md-block">
        <a class="btn btn-prinary" routerLink='/videos'
          routerLinkActive="active">Videoları Görüntüle</a>
      </div>
    </slide>
    </carousel>
  </div>
</div>